body {
    background: #23d5ab ;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#nav {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li a {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
    
}

li a:hover {
    background-color: gray;
}

#quote {
    text-align: center;
    max-width: 800px;
    font-size: 35px;
    left: 25%;
    margin-top: 5%;
    border: 3px solid black;
    position: absolute;
    background-color: white;
}

#quote-text{
    padding: 10px;
}

#defenses{
    font-size: 20px;
    float: left;
    text-decoration: none;
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

h2 {
    float: left;
}